nav{
  background-color: #1a1a1a;
padding: 20px;
margin-bottom: 20px;
position: sticky;
display: flex;
justify-content: center;


}

nav a {
  color: white;
  font-weight: 600;
 padding-right: 30px;
}

nav a:hover
{
    background-color: grey;
 
 }



.video-box {
  position: relative;
  width: 100%;
  height: 95%;
  
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;

}

h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}


footer{
 display: flex;
justify-content:space-between;

}




body{ 
font-family: 'Poppins', sans-serif;

    background-color: #ffffff;
      color: black
}


.homepic{
    height: 300px;
    width:auto;
  background-size:  cover;
  background-position: center;
  margin-bottom: 50px;

}




