
.hero{
color: rgb(255, 255, 255);
text-align: center;
background-color: rgb(0, 0, 0);
padding: 50px;
margin:15px;

}

.aboutbody{
    display: flex;
    justify-content: space-around;;
}

.subabout{

background-color:grey;
padding: 200px;
margin: 5px;

}
.subabout2{
background-color:grey;
padding: 200px;
margin: 5px;

}

.subabout3{
background-color:grey;
padding: 200px;
margin:80px  25% 50px 25%;
display: flex;
justify-content: center;
}

.resume{
margin: 5%;

}


form{
    margin: 30px;
    
}
h2{
    margin:20px;
}
 form{
background-color:grey;
padding: 20px;
width: 80%;
margin: 20pxpx auto;

 }
 
 
dt {
  font-weight: bold;
}

dd {
  color: #777;      
  font-weight: normal;
  line-height: 22px;
}

.project {
  display: flex;
  gap: 20px;
  align-items: center;
}

.project img {
  width: 50%;
}

.project div {
  width: 50%;
}

.parent{
width: 100%;
margin: auto;

}