nav{
  background-color: #1a1a1a;
padding: 20px;
margin-bottom: 20px;
position: sticky;
display: flex;
justify-content: center;


}

nav a {
  color: white;
  font-weight: 600;
 padding-right: 30px;
}

nav a:hover
{
    background-color: grey;
 
 }



.video-box {
  position: relative;
  width: 100%;
  height: 95%;
  
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;

}

.homehero{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}


footer{
 display: flex;
justify-content:space-between;

}




body{ 
font-family: 'Poppins', sans-serif;

    background-color: #ffffff;
      color: black
}


.homepic{
    height: 300px;
    width:auto;
  background-size:  cover;
  background-position: center;
  margin-bottom: 50px;

}



.hero{
color: rgb(255, 255, 255);
text-align: center;
background-color: rgb(0, 0, 0);
padding: 50px;
margin:15px;

}

.aboutbody{
    display: flex;
    justify-content: space-around;;
}

.subabout{

background-color:grey;
padding: 200px;
margin: 5px;

}
.subabout2{
background-color:grey;
padding: 200px;
margin: 5px;

}

.subabout3{
background-color:grey;
padding: 200px;
margin:80px  25% 50px 25%;
display: flex;
justify-content: center;
}

.resume{
margin: 5%;

}


form{
    margin: 30px;
    
}
h2{
    margin:20px;
}
 form{
background-color:grey;
padding: 20px;
width: 80%;
margin: 20pxpx auto;

 }
 
 
dt {
  font-weight: bold;
}

dd {
  color: #777;      
  font-weight: normal;
  line-height: 22px;
}

.project {
  display: flex;
  gap: 20px;
  align-items: center;
}

.project img {
  width: 50%;
}

.project div {
  width: 50%;
}

.parent{
width: 100%;
margin: auto;

}

.resumeh1{

  color: #000000;
}

